.hero-unit
  %h1 Quem são esses ninjas?
  %p Depois de ver (e viver) muitos momentos de êxtase às vésperas das provas, alguns dos próprios universitários decidiram unir-se e criar o Ninja das Dúvidas. 
  %p Selecionados entre os alunos com melhor desempenho nas matérias de Cálculo e Física, nossa equipe de ninjas está pronta para assassinar as suas dúvidas. E isso, claro, muito rapidamente! Assim ainda te sobra o tempo de revisar tudo antes da prova.