.hero-unit
  %h1 Quem são esses ninjas?
  %p Depois de ver a grande dificuldade que alunos passam na hora de estudar para as provas, alunos de engenharia de produção da UFRJ criaram o Ninja das Dúvidas. 
  %p Selecionados entre os alunos com melhor desempenho nas matérias de Cálculo e Física, nossa equipe de ninjas está pronta para assassinar as suas dúvidas. E isso claro, rapidamente pra você ter tempo de estudar tranquilo para a prova !