.hero-unit
  %h1 Ninja das Dúvidas
  %p Olá, bem vindo ao Ninja das Dúvidas, seu assassino de dúvidas! Coloque abaixo o código de login que você recebou:
  .row
    .input-prepend.span4
      .add-on Email
      %input{type: "text"}
    .input-prepend.span4
      .add-on Código
      %input{type: "text"}
  .row
    .span6
      .btn.btn-large.btn-primary Perguntar