.span12.main-unit
  = image_tag("big-logo.png")
  %p Seus exercícios resolvidos passo a passo.
  - if current_user
    = link_to "Ver Exercìcios Resolvidos", books_path, class: "btn btn-large btn-responde"
  - else
    = link_to "Entrar com Facebook", "/auth/facebook", class: "btn btn-large btn-primary"