.hero-unit
  %h1 Responde Aí
  %p Olá, bem vindo ao Responde Aí!
  %p Entre com o facebook para conferir os exercícios resolvidos.
  = link_to "Entrar com Facebook", "/auth/facebook", class: "btn btn-large btn-primary"