.hero-unit
  %h1 Ninja das Dúvidas
  %p Olá, bem vindo ao Ninja das Dúvidas, seu assassino de dúvidas! 
  %p Introduza o código do seu cartão e o e-mail onde você gostaria de ser respondido.
  = link_to "Entrar com Facebook", "/auth/facebook", class: "btn btn-large"