@import 'bootstrap';

@import url(http://fonts.googleapis.com/css?family=Joti+One);

#content {
  margin-top: 80px;
}

.hero-unit h1 {
	padding-bottom: 30px;
}

body {
  background: #e8e8e8;
}

.main-unit {
  text-align: center;
  p {
    font-size: 16px;
  }
}

.solution-step {
  background: #fefefe;
}