// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  padding-bottom: 30px;
}
.comments {
  position: relative;
  .show-comments {
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -70px;
    width: 120px
  }
  .comments-inner {
    display: none;
  }
}